
*.class
Project 1/.idea/workspace.xml
Project 2/.idea/compiler.xml
Project 2/.idea/description.html
Project 2/.idea/encodings.xml
Project 2/.idea/misc.xml
Project 2/.idea/modules.xml
Project 2/.idea/Project 2.iml
Project 2/.idea/vcs.xml
